@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

// mainpage cards
*{
  margin:0px;
  padding:0px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #000);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
  }
  
  .container {
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  
    .card {
      position: relative;
      margin: auto;
      .face {
          text-align: center;
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 200px;
        transition: 0.5s;
        border-radius: 12px;
        &.face1 {
          position: relative;
          background: #333;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          transform: translateY(20px);
        }
      }
      &:hover .face.face1 {
        transform: translateY(0);
        background-image: linear-gradient(to left bottom, #8c00dc, #c600ba, #e80096, #f90074, #ff0057);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .face.face1 .content {
        opacity: 0.8;
        transition: 0.5s;
      }
      &:hover .face.face1 .content {
        opacity: 1;
      }
      .face {
        &.face1 .content {
          img {
            max-width: 60px;
          }
          h3 {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
            text-align: center;
            font-size: 1.5em;
          }
        }
        &.face2 {
          position: relative;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          box-sizing: border-box;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          transform: translateY(-100px);
        }
      }
      &:hover .face.face2 {
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .face.face2 {
        p {
          margin: 0;
          padding: 0;
        }
        a {
          margin: 15px 0 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #333;
          padding: 5px;
          border: 1px solid #333;
          &:hover {
            background: #333;
            color: #fff;
          }
        }
      }
    }
  }


  @media(max-width:800px){
    .card {
      position: relative;
      margin: auto;
 
    }
  
  }
  
//   ends here 


// background animation
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// end 

// logo animation


// Text styling

h1 {
	text-align: center;
  font-size: 34px;
	position: relative;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
	// This is important, we need the h1 to be invisible.	
	color: transparent;
  
	
	&:focus {
		outline: none;
	}
 }

h1::before, h1::after {
	content: attr(data-heading);
	position: absolute;
	top: 0;
	left: 0;	
}

// Clip path to slice the text.
h1::before {
	color: cyan;
	clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%)
}

h1::after {
	color: white;
	clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
	animation: slide 5s infinite;
}


// Move it.
@keyframes slide {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translate(-4px, 2%);
	}
}

.header{
  margin: auto !important;
}


@media(max-width:700px){
  h1{
   font-size: 30px !important;
  }
  
}


@media(max-width:600px){
  h1{
    font-size: 25px !important;
  }

 
}

// end 

// scroll btn 
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}


#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: inline-block;

  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
// end 



@media (max-width:900px){
  .face2{
    transform: translateY(0px) !important;
  }
  .face1{
    margin-top: 30px !important;
  }
 .scrl-btn{
  display: none;

   }
}



// slider 


@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

body *{ cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;}

body {
  

cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}
@font-face
{
font-family: font;
src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
font-weight:bold;
}

.slider div p{color:#1c1c1c;position:absolute;bottom:-35px; font-family:font; font-size:22px; text-align: center;}

.slider{

    -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;
    margin:60px auto 0 auto;
    height:380px;
    width:340px;
    padding:0px;
    top:100px;
    perspective:1000px;
    transition:ease-in-out .2s;
             /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/




.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none; user-drag:none;-moz-user-drag:none; border-radius:2px; }


.slide{

-webkit-user-select:none;
user-select:none;
  -moz-user-select:none;
    position:absolute;
        height:380px;
    width:340px;
box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
background:#fcfcfc;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
            -moz-transform-style:preserve-3d;
             text-align:center;
             /*overflow:hidden;*/
             border:12px white solid;
             box-sizing:border-box;
             border-bottom:55px white solid;
             border-radius:5px;  
}


.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}





// end 



// text style 

:root {
	--font-size: 2vw;
	--font-color: #000;
	--paper-color: #F9F8EF;
	--paper-radius: 4px;
	--paper-inclination: 8deg;
	--background-color: #77EEDF;
}

/* ////////////////////////////////////////////////
//////////////////////////////////////////////// */

:root {
	--paper-shadow: 				 color( var(--background-color) shade(50%) );
	--bg-color-dark-shade30: color( var(--paper-color) shade(20%) );
	--bg-color-dark-shade15: color( var(--paper-color) shade(5%) );
	--transition-duration:   200ms;
	--paper-light:   				 color( var(--paper-color) lightness(+8%) );
}

body {
	background-color: var(--background-color);
}

/* Paper Sheet */
h1.flag {
	white-space: nowrap;
	font-size: var(--font-size);
	position: relative;
  cursor: default;
  margin: 20px;

	
	
	/* Paper Shadow */
	&::before {
    
		content: '';
		position: absolute;
		bottom: 0;
		background-color: var(--paper-shadow);
		width: 89%;
		left: 4%;
		height: 40%;
		filter: blur(2vw);
		transition: all var(--transition-duration) cubic-bezier(0.0, 0.0, 0.2, 1);
	}
	
	/* Each letter */
	& span {
    
		user-select: none;
		display: inline-block;
		width: 3em;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		text-align: center;
		position: relative;
		z-index: 1;
		transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
		
		/* Solid Surface */
		&::before {
			content: '';
			background-color: var(--paper-color);
			transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
      z-index: -1;
		}
		
		/* Odd letters */
		&:nth-child(odd) {
      background-color: white !important;
      color:#000;

			transform: skewY(calc(-1*var(--paper-inclination)));
	
			background: linear-gradient(-30deg, var(--paper-light), var(--bg-color-dark-shade15));
			box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.3);
			prospective: 1000px;
		}
		
		/* Even letters */
		&:nth-child(even) {
			transform: skewY(var(--paper-inclination));
			color: var(--font-color);
			background: rgba(0,0,0, 0.1);
			box-shadow: inset -1px 0 0px rgba(0, 0, 0, 0.05);
			prospective: 1000px;
		}	
		
		/* Paper border-radius */
		&:first-of-type,
		&:first-of-type::before {
			border-radius: var(--paper-radius) 0 0 var(--paper-radius);
		}
		
		&:last-of-type,
		&:last-of-type:before {
			border-radius: 0 var(--paper-radius) var(--paper-radius) 0;
		}
	}
	
	/* Hover interaction */
	&:hover {
		
		&::before {
			opacity: 0.5;
			filter: blur(2px);
			left: 1%;
			width: 98%;
		}
		
		& span {
			transform: none;
			color: var(--font-color);
			box-shadow: none;
			transition-duration: var(--transition-duration);
			width: 3.1em;
						
			&::before {
				opacity: 1;
				transition-duration: var(--transition-duration);
			}
		}
	}
}

@use postcss-cssnext;
// end 