@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #000);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 15s ease infinite;
          animation: gradientBG 15s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'El Messiri', sans-serif;
}

.container {
  width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card {
  position: relative;
  margin: auto;
}

.container .card .face {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 12px;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container .card:hover .face.face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-image: -webkit-gradient(linear, right top, left bottom, from(#8c00dc), color-stop(#c600ba), color-stop(#e80096), color-stop(#f90074), to(#ff0057));
  background-image: linear-gradient(to left bottom, #8c00dc, #c600ba, #e80096, #f90074, #ff0057);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container .card .face.face1 .content {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 60px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container .card .face.face2 p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 a:hover {
  background: #333;
  color: #fff;
}

@media (max-width: 800px) {
  .card {
    position: relative;
    margin: auto;
  }
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  font-size: 34px;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: transparent;
}

h1:focus {
  outline: none;
}

h1::before, h1::after {
  content: attr(data-heading);
  position: absolute;
  top: 0;
  left: 0;
}

h1::before {
  color: cyan;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%);
}

h1::after {
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
          clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
  -webkit-animation: slide 5s infinite;
          animation: slide 5s infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translate(-4px, 2%);
            transform: translate(-4px, 2%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translate(-4px, 2%);
            transform: translate(-4px, 2%);
  }
}

.header {
  margin: auto !important;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px !important;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#thanks {
  background-color: #fff;
}

#thanks::after {
  content: none;
}

#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#thanks p {
  color: #333;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
}

#thanks p a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#thanks p a:hover {
  color: #888;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: inline-block;
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 60px;
}

#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .face2 {
    -webkit-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
  }
  .face1 {
    margin-top: 30px !important;
  }
  .scrl-btn {
    display: none;
  }
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
  to {
  }
}

@-webkit-keyframes animation2 {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
  to {
  }
}

body * {
  cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}

body {
  cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}

@font-face {
  font-family: font;
  src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
  font-weight: bold;
}

.slider div p {
  color: #1c1c1c;
  position: absolute;
  bottom: -35px;
  font-family: font;
  font-size: 22px;
  text-align: center;
}

.slider {
  -webkit-animation: animation ease 1s;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  margin: 60px auto 0 auto;
  height: 380px;
  width: 340px;
  padding: 0px;
  top: 100px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
}

/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/
.slide img {
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-drag: none;
  border-radius: 2px;
}

.slide {
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  position: absolute;
  height: 380px;
  width: 340px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  background: #fcfcfc;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  text-align: center;
  /*overflow:hidden;*/
  border: 12px white solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 55px white solid;
  border-radius: 5px;
}

.transition {
  -webkit-transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
  transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
}

:root {
  --font-size: 2vw;
  --font-color: #000;
  --paper-color: #F9F8EF;
  --paper-radius: 4px;
  --paper-inclination: 8deg;
  --background-color: #77EEDF;
}

/* ////////////////////////////////////////////////
//////////////////////////////////////////////// */
:root {
  --paper-shadow: 				 color( var(--background-color) shade(50%) );
  --bg-color-dark-shade30: color( var(--paper-color) shade(20%) );
  --bg-color-dark-shade15: color( var(--paper-color) shade(5%) );
  --transition-duration:   200ms;
  --paper-light:   				 color( var(--paper-color) lightness(+8%) );
}

body {
  background-color: var(--background-color);
}

/* Paper Sheet */
h1.flag {
  white-space: nowrap;
  font-size: var(--font-size);
  position: relative;
  cursor: default;
  /* Paper Shadow */
  /* Each letter */
  /* Hover interaction */
}

h1.flag::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: var(--paper-shadow);
  width: 89%;
  left: 4%;
  height: 40%;
  -webkit-filter: blur(2vw);
          filter: blur(2vw);
  -webkit-transition: all var(--transition-duration) cubic-bezier(0, 0, 0.2, 1);
  transition: all var(--transition-duration) cubic-bezier(0, 0, 0.2, 1);
}

h1.flag span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  width: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  /* Solid Surface */
  /* Odd letters */
  /* Even letters */
  /* Paper border-radius */
}

h1.flag span::before {
  content: '';
  background-color: var(--paper-color);
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1.flag span:nth-child(odd) {
  background-color: white !important;
  color: #000;
  -webkit-transform: skewY(calc(-1*var(--paper-inclination)));
          transform: skewY(calc(-1*var(--paper-inclination)));
  background: linear-gradient(-30deg, var(--paper-light), var(--bg-color-dark-shade15));
  -webkit-box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.3);
  prospective: 1000px;
}

h1.flag span:nth-child(even) {
  -webkit-transform: skewY(var(--paper-inclination));
          transform: skewY(var(--paper-inclination));
  color: var(--font-color);
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset -1px 0 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset -1px 0 0px rgba(0, 0, 0, 0.05);
  prospective: 1000px;
}

h1.flag span:first-of-type, h1.flag span:first-of-type::before {
  border-radius: var(--paper-radius) 0 0 var(--paper-radius);
}

h1.flag span:last-of-type, h1.flag span:last-of-type:before {
  border-radius: 0 var(--paper-radius) var(--paper-radius) 0;
}

h1.flag:hover::before {
  opacity: 0.5;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  left: 1%;
  width: 98%;
}

h1.flag:hover span {
  -webkit-transform: none;
          transform: none;
  color: var(--font-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  width: 3.1em;
}

h1.flag:hover span::before {
  opacity: 1;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

@use postcss-cssnext;
/*# sourceMappingURL=style.css.map */